<div class="card">
    <div class="card-header">
        SOSTITUISCE UN SINGOLO CALCIATORE
    </div>
    <div class="card-body">


        <form class="text-center" #element="ngForm" (submit)="onSostituisci(element.form.value)">

            <div class="pt-16 pb-8">
                <label for="select-utente">Da Sostituire</label>
                <select id="select-utente" class="form-control mb-4 mt-4 custom-select" name="utente" ngModel required>
                    <optgroup *ngFor="let ut of listaRoseUtenti" label="{{ut.squadra}}">
                        <option *ngFor="let u of ut.lista" [ngValue]="u">{{u.ruolo}} {{u.calciatore}}</option>
                    </optgroup>
                </select>
            </div>

            <div class="pt-8 pb-16">
                <label for="select-player">Da Inserire</label>
                <select id="select-player" class="form-control mb-4 mt-4 custom-select" name="player" ngModel required>
                    <option *ngFor="let n of listaRose" [ngValue]="n.id_calciatore">{{n.ruolo}} {{n.nome_calciatore}}
                    </option>
                </select>
            </div>

            <!-- Send button -->
            <my-button [submit]="true" [color]="'btn-primary'" [block]="true" [disabled]="element.form.invalid"
                [label]="'INVIA'" [loading]="loading_btn"></my-button>

        </form>

    </div>
</div>