<div *ngIf="lookup" class="pt-8">
<form #competizioneForm="ngForm" (ngSubmit)="setInfoGenerali()">
    <div class="pt-8">
      <label for="anno">Anno</label>
      <input class="form-control" id="anno" name="anno" [(ngModel)]="competizione.anno" required />
    </div>
  
    <div class="pt-8">
      <label for="crediti_disponibili">Crediti Disponibili</label>
      <input class="form-control" id="crediti_disponibili" name="crediti_disponibili" [(ngModel)]="competizione.crediti_disponibili" type="number" required />
    </div>
  
    <div class="pt-8">
      <label for="fase_competizione">Fase Competizione</label>
      <select class="form-control custom-select"  id="fase_competizione" name="fase_competizione" [(ngModel)]="competizione.fase_competizione" required>
        <option *ngFor="let fase of lookup.fasi" [value]="fase.code">{{ fase.valore }}</option>
      </select>
    </div>
    <div class="pt-16 pb-16">
        <my-button [submit]="true" [color]="'btn-primary'" [block]="true"  [disabled]="!competizioneForm.form.valid" [label]="'INVIA'"
             [loading]="loading_btn" ></my-button>
    </div>

  </form>
</div>