.loghi{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

.semi-loghi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

.punteggio{
    display: flex;
    justify-content: center;
    align-items: center;
}

