<div *ngIf="spinner.getLoading()" class="fadein">

  <my-info-card [info]="info"></my-info-card>

  <div class="card">

    <div class="card-body">
      <nav>
        <div class="nav nav-tabs" role="tablist">
          <button *ngFor="let ele of PAGE.UTENTI.VIEW_POSSIBILI" (click)="PAGE.VIEW=ele.id"
            class="nav-link">{{ele.descrizione}}</button>
        </div>
      </nav>

      <div class="tab-content">
        <div class="pt-16 pb-16">

          <lista-registro *ngIf="PAGE.VIEW == PAGE.UTENTI.SQUADRE" [squadre]="administrator.squadre"
            (update)="onUpdate($event)" (delete)="onDelete($event)"></lista-registro>
          <lista-account *ngIf="PAGE.VIEW == PAGE.UTENTI.ACCOUNT" [utenti]="administrator.utenti"></lista-account>
          <div *ngIf="PAGE.VIEW == PAGE.UTENTI.RESOCONTO">RESOCONTO</div>
        </div>
      </div>
    </div>

  </div>
</div>