<div *ngIf="spinner.getLoading()" class="fadein">

  <my-info-card [info]="info"></my-info-card>

  <div class="card">

    <div class="card-body">

      <div class="display-center pt-16">
        <!-- table -->
        <div class="table-responsive">

          <table class="table table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">USERNAME</th>
                <th scope="col">RUOLO</th>
                <th scope="col">SQUADRA</th>
                <th scope="col">STATO</th>
                <th scope="col">UPD</th>
                <th scope="col">DEL</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ele of administrator.squadre; let id = index">
                <th scope="row">
                  <span>{{ele.id_utente}}</span>
                </th>
                <td>
                  <span>{{ele.username}}</span>
                </td>
                <td>
                  <span>{{ele.ruolo}}</span>
                </td>
                <td>
                  <span>{{ele.squadra}}</span>
                </td>
                <td>
                  <span>{{ele.stato}}</span>
                </td>
                <td>
                  <div (click)="onUpdate(ele)" class="text-center cursore" data-bs-toggle="modal"
                    data-bs-target="#updUtenteModal">
                    <i class="bi bi-incognito table_icon"></i>
                  </div>
                </td>
                <td>
                  <span>
                    <i class="bi bi-trash-fill cursore table_icon" (click)="onDelete(ele)" data-bs-toggle="modal"
                      data-bs-target="#confirmModal"></i>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>