<div class="pb-32">
    <div class="animate__animated animate__rubberBand">
    <img src="assets/img/shit.png" alt="ShitCup" class="immagine">
</div>
</div>
    
<div  *ngIf="animazione"  class="pt-32">
    <div class="display-center">
        <div class="titolo animate__animated animate__jackInTheBox animate__slow">
        </div>
    </div>
</div>

 <div *ngIf="!animazione" class="pt-32">
    <div class="display-center">
        <div class="titolo animate__animated animate__rubberBand ">
        </div>
    </div>
</div>

