<div class="pb-16">
    <div class="animate__animated animate__rubberBand">
    <img src="assets/img/shit.png" alt="ShitCup" class="logo">
</div>
</div>
    
<div  *ngIf="animazione"  class="pt-16">
    <div class="display-center">
        <div class="animate__animated animate__jackInTheBox animate__slow" >
            <img src="assets/img/decima_logo.png" alt="ShitCup" class="logo">
        </div>
    </div>
</div>

 <div *ngIf="!animazione" class="pt-16">
    <div class="display-center">
        <div class="animate__animated animate__rubberBand ">
            <img src="assets/img/decima_logo.png" alt="ShitCup" class="logo">
        </div>
    </div>
</div>