
.titolo{
    background-image: url("../../../../assets/img/monkey_cup.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 168px;
    padding-right: 168px;
    padding-bottom: 160px;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    color: white;
    min-width: 80px;
}

.immagine{
    width:100%;
}

.firma{
    width:20%;
}
  