<my-spinner></my-spinner>

<div class="dispatcher text-white">

    <div class="row ma-0 pa-0">

        <div class="col-12 col-sm-1 col-md-2 col-lg-2 ma-0 pa-0">
        </div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 ma-0 pa-0">
            <div class="page">

                <div *ngIf="view == VIEW_ISCRIZIONE.LISTA">
                    <lista-squadre (change)="changeView($event)"></lista-squadre>
                    <!-- Forgot login -->
                    <div class="pt-32 text-destra">
                        <button routerLink="/login" class="btn primary">Torna al Login
                            <i class="bi bi-reply-all-fill cursore"></i>
                        </button>
                    </div>
                </div>

                <div *ngIf="view == VIEW_ISCRIZIONE.REGISTRA">
                    <registra-squadra (change)="changeView($event)"></registra-squadra>
                </div>

                <div *ngIf="view == VIEW_ISCRIZIONE.CREA">
                    <crea-squadra (change)="changeView($event)"></crea-squadra>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-1 col-md-2 col-lg-2 ma-0 pa-0">
        </div>
    </div>
</div>