<div *ngIf="spinner.getLoading()" class="fadein">

    <div class="flex-central pt-24 pb-56 pl-16 pr-16">

        <div class="card">

            <div class="card-header text-center">
                <h5>
                    <strong>{{language.label.login.step.genera_squadra}}</strong>
                </h5>
            </div>

            <div class="card-body">

                <span>{{language.label.login.step.crediti}} : {{listino.residuo}}</span>

                <div class="step1" *ngIf="stepform==1">
                    <div class="step">
                        <span>{{language.label.login.step.passo}} 1 {{language.label.login.step.di}} 5</span>
                    </div>
                    <div class="pt-8 pb-8">
                        <span>{{language.label.login.step.portieri}}</span>
                    </div>

                    <div class="listone">
                        <div *ngFor="let player of listino.svincolati; index as i;">

                            <div class="form-check step" *ngIf="player.ruolo == 'P'">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="{{'check'+player.id}}"
                                        [(ngModel)]="listino.svincolati[i].selected"
                                        [disabled]="listino.svincolati[i].disabled">
                                    <label class="form-check-label" for="{{'check'+player.id}}">
                                        {{player.ruolo}} {{player.nome}}
                                    </label>
                                </div>
                                <div class="pr-8">
                                    <label>
                                        {{player.valore}}
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="pt-32 pb-16">
                        <my-button [submit]="false" [color]="'btn-primary'" [block]="true"
                            [disabled]="listino.countP!=3" [loading]="loading_btn"
                            [label]="language.label.login.step.successivo"
                            (myClick)="passaggioSuccessivo()"></my-button>
                    </div>

                </div>

                <div class="step2" *ngIf="stepform==2">
                    <div class="step">
                        <span>{{language.label.login.step.passo}} 2 {{language.label.login.step.di}} 5</span>
                        <span (click)="stepform=stepform-1"
                            class="cursore">{{language.label.login.step.indietro}}</span>
                    </div>

                    <div class="pt-8 pb-8">
                        <span>{{language.label.login.step.difensori}}</span>
                    </div>

                    <div class="listone">
                        <div *ngFor="let player of listino.svincolati; index as i;">

                            <div class="form-check step" *ngIf="player.ruolo == 'D'">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="{{'check'+player.id}}"
                                        [(ngModel)]="listino.svincolati[i].selected"
                                        [disabled]="listino.svincolati[i].disabled">
                                    <label class="form-check-label" for="{{'check'+player.id}}">
                                        {{player.ruolo}} {{player.nome}}
                                    </label>
                                </div>
                                <div class="pr-8">
                                    <label>
                                        {{player.valore}}
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="pt-32 pb-16">
                        <my-button [submit]="false" [color]="'btn-primary'" [block]="true"
                            [disabled]="listino.countD!=8" [loading]="loading_btn"
                            [label]="language.label.login.step.successivo"
                            (myClick)="passaggioSuccessivo()"></my-button>
                    </div>

                </div>

                <div class="step3" *ngIf="stepform==3">
                    <div class="step">
                        <span>{{language.label.login.step.passo}} 3 {{language.label.login.step.di}} 5</span>
                        <span (click)="stepform=stepform-1"
                            class="cursore">{{language.label.login.step.indietro}}</span>
                    </div>

                    <div class="pt-8 pb-8">
                        <span>{{language.label.login.step.centrocampisti}}</span>
                    </div>

                    <div class="listone">
                        <div *ngFor="let player of listino.svincolati; index as i;">

                            <div class="form-check step" *ngIf="player.ruolo == 'C'">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="{{'check'+player.id}}"
                                        [(ngModel)]="listino.svincolati[i].selected"
                                        [disabled]="listino.svincolati[i].disabled">
                                    <label class="form-check-label" for="{{'check'+player.id}}">
                                        {{player.ruolo}} {{player.nome}}
                                    </label>
                                </div>
                                <div class="pr-8">
                                    <label>
                                        {{player.valore}}
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="pt-32 pb-16">
                        <my-button [submit]="false" [color]="'btn-primary'" [block]="true"
                            [disabled]="listino.countC!=8" [loading]="loading_btn"
                            [label]="language.label.login.step.successivo"
                            (myClick)="passaggioSuccessivo()"></my-button>
                    </div>

                </div>

                <div class="step4" *ngIf="stepform==4">
                    <div class="step">
                        <span>{{language.label.login.step.passo}} 4 {{language.label.login.step.di}} 5</span>
                        <span (click)="stepform=stepform-1"
                            class="cursore">{{language.label.login.step.indietro}}</span>
                    </div>

                    <div class="pt-8 pb-8">
                        <span>{{language.label.login.step.attaccanti}}</span>
                    </div>

                    <div class="listone">
                        <div *ngFor="let player of listino.svincolati; index as i;">

                            <div class="form-check step" *ngIf="player.ruolo == 'A'">
                                <div>
                                    <input class="form-check-input" type="checkbox" id="{{'check'+player.id}}"
                                        [(ngModel)]="listino.svincolati[i].selected"
                                        [disabled]="listino.svincolati[i].disabled">
                                    <label class="form-check-label" for="{{'check'+player.id}}">
                                        {{player.ruolo}} {{player.nome}}
                                    </label>
                                </div>
                                <div class="pr-8">
                                    <label>
                                        {{player.valore}}
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="pt-32 pb-16">
                        <my-button [submit]="false" [color]="'btn-primary'" [block]="true"
                            [disabled]="listino.countA!=6" [loading]="loading_btn"
                            [label]="language.label.login.step.successivo"
                            (myClick)="passaggioSuccessivo()"></my-button>
                    </div>

                </div>

                <div class="step5" *ngIf="stepform==5">
                    <div class="step">
                        <span>{{language.label.login.step.passo}} 5 {{language.label.login.step.di}} 5</span>
                        <span (click)="stepform=stepform-1"
                            class="cursore">{{language.label.login.step.indietro}}</span>
                    </div>

                    <div class="pt-8 pb-8">
                        <span>{{language.label.login.step.dati}}</span>
                    </div>


                    <div *ngIf="id_squadra==0">
                        <!-- Form -->
                        <form class="text-center" #element="ngForm" (submit)="onRegistraSquadra()">

                            <!-- Squadra -->
                            <input type="text" id="squadra" class="form-control mb-4 mt-4" placeholder="Nome squadra"
                                minlength="4" name="squadra" required maxlength="16" [(ngModel)]="listino.squadra"
                                (ngModelChange)="listino.squadra = $event.toUpperCase()" />

                            <!-- Sign in button -->
                            <div class="pt-32 pb-16">
                                <my-button [submit]="true" [color]="'btn-primary'" [block]="true"
                                    [disabled]="element.form.invalid" [loading]="loading_btn"
                                    [label]="language.label.login.step.successivo"></my-button>
                            </div>

                        </form>
                        <!-- Form -->
                    </div>
                    <div *ngIf="id_squadra!=0">
                        <div><label>{{listino.squadra}}</label></div>


                        <div class="pt-32 pb-16">
                            <my-button [submit]="false" [color]="'btn-primary'" [block]="true" [loading]="loading_btn"
                                [label]="language.label.login.step.successivo"
                                (myClick)="passaggioSuccessivo()"></my-button>
                        </div>
                    </div>

                </div>

                <div class="step5" *ngIf="stepform==6">
                    <div class="step">
                        <span>{{language.label.login.step.passo}} 5 {{language.label.login.step.di}} 5</span>
                        <span (click)="stepform=stepform-1"
                            class="cursore">{{language.label.login.step.indietro}}</span>
                    </div>

                    <div class="pt-8 pb-8">
                        <div>
                            <span>{{language.label.login.step.riepilogo}}:</span>
                        </div>
                        <div>
                            <span>{{listino.squadra}}</span>
                        </div>
                    </div>

                    <div class="listone">
                        <div *ngFor="let player of listino.selezionati; index as i;">
                            <div class="step">
                                <div>
                                    <label>
                                        {{player.ruolo}} {{player.nome}}
                                    </label>
                                </div>
                                <div class="pr-8">
                                    <label>
                                        {{player.valore}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pt-32 pb-16"> 
                        <my-button [submit]="false" [color]="'btn-primary'" [block]="true"
                            [disabled]="listino.residuo < 0" [loading]="loading_btn"
                            [label]="language.label.bottoni.invia" (myClick)="confermaSquadra()"></my-button>
                    </div>

                </div>

                <div class="pt-16 pb-16">
                    <my-button [color]="'btn-danger'" [block]="true" (myClick)="esci()"
                        [label]="language.label.bottoni.annulla" [loading]="loading_btn"></my-button>
                </div>

            </div>

        </div>


    </div>

</div>