<div *ngIf="dash.match.ESISTENTE" class="pt-16">

    <div class="row ma-0">

        <!-- Match-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pa-0 row ma-0">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-11 pa-0">

                <div class="pb-16">

                    <div class="card-green">
                        <div class="card-header">
                            <div>MATCH</div>
                        </div>
                        <!--Card content-->
                        <div class="card-body sfondo_campo">
                            <div class="pt-8 pb-8">
                                <div class="display-center-n">
                                    <div class="col-4 col-sm-4 col-md-5 col-lg-5">
                                        <div class="display-center">
                                            <img src="assets/avatar/{{dash.match.CASA.avatar}}.png" class="avatar"
                                                width="24px" />
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-10 col-lg-10  display-center">
                                            <label class="nome_squadra text-bold">
                                                {{dash.match.CASA.squadra}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="display-center col-4 col-sm-4 col-md-2 col-lg-2"></div>
                                    <div class="col-4 col-sm-4 col-md-5 col-lg-5">
                                        <div class="display-center">
                                            <img src="assets/avatar/{{dash.match.TRASFERTA.avatar}}.png" class="avatar"
                                                width="24px" />
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-10 col-lg-10 display-center">
                                            <label class="nome_squadra text-bold">
                                                {{dash.match.TRASFERTA.squadra}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-16 pb-24 pr-8 pl-8">
                                <my-button [submit]="false" [color]="'bg-warning text-white'" [block]="true"
                                    [label]="language.label.page.vedi_live" (myClick)="visualizzaLive()"></my-button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- space-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-1 pa-0">

            </div>
        </div>

        <!-- lavagna-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 pa-0">

            <div *ngIf="votilive" class="card-green">
                <div class="card-body">

                    <div class="sfondo_lavagna pa-8">
                        <div class="text-centro text-bold pb-16"> <label class="text-bold">
                                {{language.label.page.live_match}}
                            </label></div>

                        <div class="lavagna pb-8">

                            <div class="flex-start ma-0 pa-0">
                                <div class="col-half">
                                    <div class="font-size-smart pr-4">
                                        <div class="display-start-column">
                                            <label *ngFor="let gesso of dash.match.CASA.schieramento">
                                                {{gesso.nome}}
                                                {{votilive[gesso.calciatore]}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-half">
                                    <div class="font-size-smart pl-4">
                                        <div class="display-start-column">
                                            <label *ngFor="let gesso of dash.match.TRASFERTA.schieramento">
                                                {{gesso.nome}}
                                                {{votilive[gesso.calciatore]}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="!dash.match.ESISTENTE" class="pt-16">

    <div class="card text-white bg-success">
        <div class="card-header">
            <div>NO MATCH</div>
        </div>
        <!--Card content-->
        <div class="card-body sfondo_campo">
            <div>
                <my-button [submit]="false" [color]="'btn-success'" [block]="true"
                    [label]="language.label.page.vedi_live" (myClick)="visualizzaLive()"></my-button>
            </div>
        </div>

    </div>
</div>