
.squadre{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.punteggio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loghi{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

.semi-loghi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}




.divisione{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 !important;
    margin: 0 !important;
}

.col-half {
    flex-basis: 50%;
  }

.formazioni{
    display: flex;
    flex-direction: column;
}

.sfidante{
    font-weight: bold;
    text-align: center;
}