<div class="card-tricolore text-center animate__animated animate__rubberBand login">
    <div class="card-header testo-bold">
        <div class="pa-16">
            <strong style="font-size: large;">LOGIN</strong>
        </div>
    </div>
    <div class="card-body">

        <form #loginForm="ngForm" (ngSubmit)="loading_btn=true;onLogin(loginForm.form.value)">

            <div class="pt-16 pb-16">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    <input id="username" name="username" type="text" class="form-control" placeholder="Username" ngModel
                        required>
                </div>
            </div>
            <div class="pt-16 pb-16">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="bi bi-eye-slash-fill"></i></span>
                    <input id="password" name="password" type="password" class="form-control" placeholder="Password"
                        ngModel required>
                </div>
            </div>


            <div class="pt-16 pb-16">
                <my-button [disabled]="!loginForm.form.valid" [block]="true" [color]="'bg-primary text-white'"
                    [loading]="loading_btn" [submit]="true" [label]="'CONFERMA'">
                </my-button>
            </div>

        </form>


    </div>
    <div class="card-footer text-muted display-around">
        <a class="cursore pr-16" (click)="submitto.emit(LOGIN_PAGE.REGISTER)">Registrati</a>
        <a class="cursore" (click)="submitto.emit(LOGIN_PAGE.REC_PASS)">Recupera Password</a>
    </div>
</div>