<div class="navbar-fissa">

    <div class="navigazione">

        <!-- UTENTI -->
        <my-navlink [isCollapse]="isCollapse" [isAdmin]="true" [link]="PAGE.ADMINISTRATOR.ABSOLUTE._UTENTI"
            [icon]="'bi bi-people-fill'" [label]="language.label.smart.utenti" (myClick)="isCollapse=false">
        </my-navlink>

        <!-- COMPETIZIONE -->
        <my-navlink [isCollapse]="isCollapse" [isAdmin]="true" [link]="PAGE.ADMINISTRATOR.ABSOLUTE._COMPETIZIONE"
            [icon]="'bi bi-wrench-adjustable'" [label]="language.label.smart.competizione" (myClick)="isCollapse=false">
        </my-navlink>

        <!-- DATE -->
        <my-navlink [isCollapse]="isCollapse" [isAdmin]="true" [link]="PAGE.ADMINISTRATOR.ABSOLUTE._DATE" [icon]="'bi bi-alarm-fill'"
            [label]="language.label.smart.date" (myClick)="isCollapse=false">
        </my-navlink>

        <!-- CALCIATORI -->
        <my-navlink [isCollapse]="isCollapse" [isAdmin]="true" [link]="PAGE.ADMINISTRATOR.ABSOLUTE._CALCIATORI"
            [icon]="'bi bi-person-walking'" [label]="language.label.smart.calciatori" (myClick)="isCollapse=false">
        </my-navlink>


        <!-- INFO -->
        <div class="colonna" data-bs-toggle="collapse" data-bs-target="#impostazioni_admin" aria-expanded="false"
            aria-controls="impostazioni_admin" (click)="isCollapse=!isCollapse">
            <div>
                <i class="bi bi-gear-fill navbar-font-icon"></i>
            </div>
            <div>
                <span class="navbar-font-label">{{language.label.smart.info}}</span>
            </div>
        </div>

    </div>

    <div class="collapse" id="impostazioni_admin" #impostazioni_admin>

        <my-footer *ngIf="isCollapse" data-bs-toggle="collapse" data-bs-target="#impostazioni_admin"
            aria-expanded="false" aria-controls="impostazioni_admin" (click)="isCollapse=false"
            [amministrazione]="true"></my-footer>
        <my-footer *ngIf="!isCollapse"></my-footer>

    </div>

</div>