<div class="modal fade" id="albodoroModal" tabindex="-1" aria-labelledby="albodoroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content bg-success text-white">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="albodoroModalLabel">{{data.titolo}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div *ngFor="let item of data.lista" class="pb-16">
                    <h4>{{item.subtitolo}}</h4>
                    <p>{{item.messaggio1}}</p>
                    <p>{{item.messaggio2}}</p>
                </div>

            </div>

        </div>
    </div>
</div>