//classics


.display-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-center-n{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }

.display-around{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navigazione{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: white;
    padding-bottom: 4px;
}

.colonna{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.flex-colonna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .my-flex-around{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.my-flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.my-flex-between-w{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-start{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

//custom