.input-group-text {
    border-radius: 0.60rem;
}

.forms{
    min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
.form-control {
    border-radius: 0.60rem;
} 

.form-select {
    border-radius: 0.60rem;
} 

.annuncio{
    color: antiquewhite;
}

.testo-bold{
    font-weight: bold;
}

.testo-light{
    color:gainsboro !important;
}

.testo-red{
    color:red !important;
}

