//scrollbar
/* width */
::-webkit-scrollbar {
  width: 6px;
  background: rgba(255, 0, 0, 0.9);
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #912dd2;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00c851;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray;
}