<div class="display-center pt-16">
    <!-- table -->
    <div class="table-responsive">

      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">USERNAME</th>
            <th scope="col">SQUADRA</th>
            <th scope="col">STATO</th>
            <th scope="col">SALDO</th>
            <th scope="col">UPD</th>
            <th scope="col">DEL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ele of squadre; let id = index">
            <th scope="row">
              <span>{{id+1}}</span>
            </th>
            <td>
              <span>{{ele.username}}</span>
            </td>
            <td>
              <span>{{ele.squadra}}</span>
            </td>
            <td>
              <span>{{ele.stato}}</span>
            </td>
            <td>
              <span>{{ele.saldo}}</span>
            </td>
            <td>
              <div (click)="update.emit(ele)" class="text-center cursore" data-bs-toggle="modal"
                data-bs-target="#updSquadraModal">
                <i class="bi bi-pencil-fill table_icon"></i>
              </div>
            </td>
            <td>
              <span>
                <i class="bi bi-trash-fill cursore table_icon" (click)="delete.emit(ele)" data-bs-toggle="modal"
                  data-bs-target="#confirmModal"></i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
