<div *ngIf="spinner.getLoading()" class="fadein">

  <my-titolo [title]="language.label.page.personalizza"></my-titolo>

  <div *ngIf="loggato.qta">


    <div *ngIf="loggato.qta > 1" class="pt-16 pb-64 text-centro">
      <div class="card">
        <div class="card-header">
          <div>{{language.label.page.seleziona_squadra}}</div>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!-- Form -->
          <form (submit)="onChangeTeam(id_selected)">
            <div class="pt-16">
              <select class="form-control form-select" [(ngModel)]="id_selected" placeholder="cambia squadra"
                name="squadra_selezionata" required>
                <option *ngFor="let u of loggato.squadre" [ngValue]="u.id_squadra">{{u.squadra}}</option>
              </select>
            </div>

            <!-- Sign in button -->
            <div class="pt-16 pb-16">
              <my-button [submit]="true" [color]="'btn-primary'" [block]="true" [loading]="loading_btn"
                [disabled]="!id_selected" [label]="language.label.bottoni.cambia"></my-button>
            </div>
          </form>
          <!-- Form -->

        </div>

      </div>
    </div>


    <div class="row ma-0 pa-0">

      <div class="col-12 col-sm-12 col-md-6 col-lg-5 ma-0 pa-0">

        <div class="pb-64 text-centro">
          <div class="card">
            <div class="card-header">
              <div>{{language.label.page.cambia_img}}</div>
            </div>

            <!--Card content-->
            <div class="card-body">

              <div class="image-preview mt-16" *ngIf="avatarSel">
                <img src="assets/avatar/{{avatarSel.nome}}.png" width="220" height="220" />
              </div>
              <div class="image-preview" *ngIf="!avatarSel">
                <img src="assets/img/omino.png" width="220" height="220" />
              </div>
              <br>

              <div class="dropup-center dropup">
                <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{language.label.bottoni.avatar}}
                </button>
                <ul class="dropdown-menu">
                  <li *ngFor="let item of avatars">
                    <button class="dropdown-item" type="button" (click)="selectedCombo(item)">
                      <img src="assets/avatar/{{item.nome}}.png" width="20" height="20" /> {{item.nome}}
                    </button>
                  </li>
                </ul>
              </div>
              <div class="pt-16 pb-16">
                <my-button [submit]="false" [color]="'btn-primary'" [block]="true" [disabled]="!avatarSel"
                  [label]="language.label.bottoni.invia" [loading]="loading_btn" (myClick)="updateAvatar()"></my-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-1 col-lg-2 ma-0 pa-0">
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 ma-0 pa-0">
        <div *ngIf="loggato.selezionata" class="pb-64 text-centro">

          <div class="card">
            <div class="card-header">
              <div>{{language.label.page.cambia_dati}}</div>
            </div>

            <!--Card content-->
            <div class="card-body">

              <!-- Form -->
              <form #myForm="ngForm" (submit)="updateUtente(loggato)">

                <!-- Username -->
                <div class="pt-32">
                  <input type="text" id="username" class="form-control" placeholder="Username" minlength="4"
                    maxlength="12" [(ngModel)]="loggato.username" name="username" readonly #user="ngModel" />
                </div>
                <!-- Email -->
                <div class="pt-32">
                  <input type="email" id="email" class="form-control" placeholder="Email" minlength="8" maxlength="50"
                    [(ngModel)]="loggato.email" name="email" required email #mail="ngModel" />
                </div>
                <!-- Cellulare -->
                <div class="pt-32">
                  <input type="text" id="cellulare" class="form-control" placeholder="Cellulare" pattern="\d{8,15}$"
                    [(ngModel)]="loggato.cellulare" name="cellulare" required #cellulare="ngModel" />
                </div>
                <!-- Squadra -->
                <div class="pt-32">
                  <input type="text" id="squadra" class="form-control" placeholder="Squadra" minlength="4"
                    [(ngModel)]="loggato.selezionata.squadra" name="squadra" required maxlength="16" #team="ngModel" />
                </div>
                <!-- Sign in button -->
                <div class="pt-32 pb-16">

                  <my-button [submit]="true" [color]="'btn-primary'" [block]="true" [confirm]="true"
                    (myClick)="updateUtente(loggato)" [disabled]="!myForm.valid" [label]="language.label.bottoni.invia"
                    [loading]="loading_btn">
                  </my-button>

                </div>
              </form>
              <!-- Form -->

            </div>

          </div>
        </div>
      </div>
    </div>










  </div>
</div>