<div *ngIf="spinner.getLoading()" class="fadein">

        <my-titolo [title]="language.label.page.rosa_utente"></my-titolo>

        <div class="card">
            <div class="card-header">
                <div>{{language.label.page.cambia_squadra}}</div>
            </div>
            <div class="card-body">
                <span>{{language.label.login.step.rosa}}</span>
                <div class="pt-16">
                    <div class="form-check" *ngFor="let player of rosa_aggiornata; index as i;">
                        <input class="form-check-input" type="checkbox" id="{{'check'+player.id}}" name="{{player}}"
                            [(ngModel)]="rosa_aggiornata[i].selected" [disabled]="disabledTeam(player) && !player.selected">
                        <label class="form-check-label" for="{{'check'+player.id}}">
                            {{player.ruolo}} {{player.nome_calciatore}}
                        </label>
                    </div>
                </div>
                <div class="pt-16 pb-16">
                    <my-button [submit]="true" [color]="'btn-success'" [block]="true" [loading]="loading_btn"
                        (myClick)="confermaUpgrade()" [disabled]="selected().length!=25 || attacco().length>6"
                        [label]="language.label.bottoni.invia"></my-button>

                </div>
            </div>
        </div>

</div>