<div class="card">
    <div class="card-header">GESTIONE GIORNATE</div>
    <div class="card-body">

        <div class="pt-16 pb-16">
            <my-button [color]="'btn-primary'" [block]="true" (myClick)="onInsert()" data-bs-toggle="modal"
                data-bs-target="#updGiornataModal" [label]="'AGGIUNGI NUOVA'"></my-button>
        </div>

        <div class="display-center pt-16">
            <!-- table -->
            <div class="table-responsive">

                <table class="table table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text-center">G</th>
                            <th class="text-center">A</th>
                            <th class="text-center">FASE</th>
                            <th class="text-center">INIZIO</th>
                            <th class="text-center">PRIMA</th>
                            <th class="text-center">ULTIMA</th>
                            <th class="text-center">FINE</th>
                            <th class="text-center">CHANGE</th>
                            <th class="text-center">UPD</th>
                            <th class="text-center">DEL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of accoppiamenti.giornate">
                            <td>{{item.giornata}}</td>
                            <td>{{item.serie_a}}</td>
                            <td>{{util.getTurni(item.turno)}}</td>
                            <td>{{item.inizio_giornata}}</td>
                            <td>{{item.prima_partita}}</td>
                            <td>{{item.ultima_partita}}</td>
                            <td>{{item.fine_giornata}}</td>
                            <td>{{util.getBoleano(item.is_upgrade)}}</td>
                            <td>
                                <div (click)="onUpdate(item)" class="text-center cursore" data-bs-toggle="modal"
                                    data-bs-target="#updGiornataModal">
                                    <i class="bi bi-pencil-fill table_icon"></i>
                                </div>
                            </td>
                            <td>
                                <span>
                                    <i class="bi bi-trash-fill cursore table_icon" (click)="onDelete(item.id_giornate)"
                                        data-bs-toggle="modal" data-bs-target="#confirmModal"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>