<!-- UPDATE UTENTE -->
<div class="modal fade" id="updUtenteModal" tabindex="-1" aria-labelledby="updUtenteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updUtenteModalLabel">Form Utente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form-utenti [data]="data" [combo]="combo" (mySubmit)="sottomesso()"></form-utenti>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE CALENDARIO -->
<div class="modal fade" id="updCalendarioModal" tabindex="-1" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updCalendarioModalLabel">Form Calendario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form-partite [data]="data" [combo]="combo"  (mySubmit)="sottomesso()"></form-partite>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE GIORNATA -->
<div class="modal fade" id="updGiornataModal" tabindex="-1" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updGiornataModalLabel">Form Giornata</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form-giornate [data]="data" [combo]="combo" (mySubmit)="sottomesso()"></form-giornate>
      </div>
    </div>
  </div>
</div>

<!-- UPDATE SWITCHS -->
<div class="modal fade" id="updSwitchsModal" tabindex="-1" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updSwitchsModalLabel">Form Switchs</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mt-8">
        <form-switchs [data]="data" (mySubmit)="sottomesso()"></form-switchs>
      </div>
    </div>
  </div>
</div>