<div class="card-tricolore  text-center animate__animated animate__rubberBand login">
    <div class="card-header">
        <div class="pa-16">
            <strong style="font-size: large;">RECUPERA PASSWORD</strong>
        </div>
    </div>
    <div class="card-body">

        <form #loginForm="ngForm" (ngSubmit)="loading_btn=true;onRecPass(loginForm.form.value)">

            <div class="pt-16 pb-16">
                <select class="form-select" aria-label="select" name="utente" ngModel required>
                    <option *ngFor="let item of combo.utenti" [ngValue]="item.id_utente">{{item.username}}
                    </option>
                </select>
            </div>


            <div class="pt-16 pb-16">
                <my-button [disabled]="!loginForm.form.valid" [block]="true" [color]="'btn-primary'"
                    [loading]="loading_btn" [submit]="true" [label]="'CONFERMA'">
                </my-button>
            </div>

        </form>


    </div>
    <div class="card-footer text-muted display-around">
        <a class="cursore" (click)="submitto.emit(LOGIN_PAGE.SIGN_IN)">Login</a>
        <a class="cursore" (click)="submitto.emit(LOGIN_PAGE.REGISTER)">Registrati</a>
    </div>
</div>