
.titolo{
    background-image: url("../../../assets/img/sciarpa.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 80px;
    padding-top: 24px;
    text-align: center;
    font-weight: bold;
    color: blanchedalmond;
    min-width: 320px;
}



