<div *ngIf="spinner.getLoading()" class="fadein">

    <my-info-card [info]="info"></my-info-card>

    <div class="card">

        <div class="card-body">
            <nav>
                <div class="nav nav-tabs" role="tablist">
                    <button *ngFor="let ele of PAGE.NOTIFICHE.VIEW_POSSIBILI" (click)="PAGE.VIEW=ele.id"
                        class="nav-link">{{ele.descrizione}}</button>
                </div>
            </nav>

            <div class="tab-content">
                <div class="pt-16 pb-16">
                    <scrivi-notifica *ngIf="PAGE.VIEW == PAGE.NOTIFICHE.SCRIVI" [utenti]="administrator.utenti"></scrivi-notifica>
                    <invia-notifica *ngIf="PAGE.VIEW == PAGE.NOTIFICHE.INVIA" [utenti]="administrator.utenti"></invia-notifica>
                </div>
            </div>
        </div>

    </div>

  
</div>