<div class="card">
    <div class="card-header">GESTIONE ACCOPPIAMENTI</div>
    <div class="card-body">

        <div class="pt-8 pb-24">
            <my-button [color]="'btn-primary'" [block]="true" (myClick)="onAddRecord()" [label]="'AGGIUNGI NUOVO'"></my-button>
        </div>
          <table class="table table-bordered table-responsive table-striped text-center">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">GIO</th>
                <th class="text-center">PARTITA</th>
                <th class="text-center">UPD</th>
                <th class="text-center">DEL</th>
            </tr>
            <ng-container *ngFor="let item of accoppiamenti.calendario">

                <tr *ngFor="let ele of item.partite">
                    <td>{{ele.id_calendario}}</td>
                    <td>{{item.giornata}}</td>
                    <td>{{ele.CASA.squadra}} - {{ele.TRASFERTA.squadra}}</td>
                    <td>
                        <div (click)="onUpdate(ele,item)" class="text-center cursore" data-bs-toggle="modal"
                            data-bs-target="#updCalendarioModal">
                            <i class="bi bi-incognito table_icon"></i>
                        </div>
                    </td>
                    <td>
                        <span>
                            <i class="bi bi-trash-fill cursore table_icon" (click)="onDelete(ele.id_calendario)"
                                data-bs-toggle="modal" data-bs-target="#confirmModal"></i>
                        </span>
                    </td>
                </tr>
            </ng-container>
        </table>

    </div>
</div>