<div *ngIf="lookups" class="card">
    <div class="card-header" style="background-color: white;">SELEZIONA VALORI</div>

    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label for="min">Giornata Partenza serie a</label>
                <select class="form-control custom-select" id="min" formControlName="min">
                    <option value="" disabled>Seleziona un numero</option>
                    <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                </select>
                <div *ngIf="form.get('min')?.invalid && form.get('min')?.touched" class="error">
                    Il campo è obbligatorio.
                </div>
            </div>

            <div>
                <label for="max">Giornata fine serie a:</label>
                <select class="form-control custom-select" id="max" formControlName="max">
                    <option value="" disabled>Seleziona un numero</option>
                    <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                </select>
                <div *ngIf="form.get('max')?.invalid && form.get('max')?.touched" class="error">
                    Il campo è obbligatorio.
                </div>
            </div>

            <div>
                <label for="fase">Seleziona turni:</label>
                <select class="form-control custom-select" multiple id="turni" formControlName="turni">
                    <option *ngFor="let item of lookups.turni" [value]="item">{{ item.valore }}</option>
                </select>
                <div *ngIf="form.get('turni')?.invalid && form.get('turni')?.touched" class="error">
                    Il campo è obbligatorio.
                </div>
            </div>

            <div class="pb-16 pt-16 my-flex-between">
                <my-button [submit]="true" [color]="'btn-primary'" [block]="false" [label]="'GENERA'"
                    [disabled]="form.invalid"></my-button>
                <my-button [submit]="false" [color]="'btn-dark'" [block]="false" [label]="'RESET'"
                    (myClick)="onReset()"></my-button>
            </div>


        </form>
    </div>

</div>

<br>

<div *ngIf="lookups && giornate.length > 0" class="card" >
    <div class="card-header" style="background-color: white;">GENERA GIORNATE </div>

    <div class="card-body">
        <table class="table table-hover">
            <thead class="red white-text rounded-lg">
                <tr>
                    <th scope="col">GIORNATA</th>
                    <th scope="col">TURNO</th>
                    <th scope="col">SERIE A</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of giornate">
                    <td>{{el.id_giornata}}</td>
                    <td>{{lookups.getTurniById(el.id_turno)}}</td>
                    <td>{{el.serie_a}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div *ngIf="giornate.length > 0" class="pb-16 pt-16">
    <my-button [submit]="false" [color]="'btn-secondary'" [block]="true" [label]="'CONFERMA'"
        (myClick)="onConferma()" [loading]="loading_btn" ></my-button>
</div>