.divisione{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 !important;
    margin: 0 !important;
}

.col-half {
    flex-basis: 50%;
  }

.formazioni{
    display: flex;
    flex-direction: column;
}

.sfidante_casa{
    font-weight: bold;
    text-align: left;
}

.sfidante_trasferta{
    font-weight: bold;
    text-align: right;
}

.sfidante{
    font-weight: bold;
    text-align: center;
}

.modalTipeViewMatch .modal-content {
    background-image: url(../../../assets/img/campo_live.jpg);
    background-position: center; 
	background-repeat: no-repeat;
    background-size: cover;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 8px;
    color: white;
    min-width: 300px;
}

